body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 232, 222);
    font-family: 'Times New Roman', Times, serif;
}

.loading {
    display: flex;
    justify-content: center;
    margin: 0;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: rgb(252, 182, 192);
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(200, 150, 130, 0.5);
    margin: 30px;
}

#loadingBar {
    width: 900px;
    height: 100px;
    border: 5px solid rgb(252, 182, 192);
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(200, 150, 130, 0.5);
    margin-top: 50px;
    margin-left: 35px;
    display: flex;
    justify-content: center;
}

#mocha {
    width: 55px;
    height: 70px;
    margin-top: 15px;
    margin-right: 650px;
}

#milk {
    width: 65px;
    height: 85px;
    margin-top: 5px;
}

/* butterfly effect */
@keyframes flutter {
    from {
        transform: rotateX(0);
    }
    to {
        transform: rotateX(80deg);
    }
}

